if [ -f .chefe/activate.sh ]; then
  source .chefe/activate.sh
elif [ -x ".chefe/.pixi/envs/default/bin/python" ]; then
  export PATH="$PWD/.chefe/.pixi/envs/default/bin:$PATH"
else
  CHEFE_FALLBACK=1
fi
{% if pythonpath %}
export PYTHONPATH={{ pythonpath }}
{% else %}
unset PYTHONPATH
{% endif %}
if [ -n "${CHEFE_FALLBACK:-}" ]; then
  chefe run bash -c {{ cmd }}
else
  bash -c {{ cmd }}
fi
